<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">CatLog</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <style>
        #header { margin-top: 10px; }
    </style>
</head>
<body>
    <div th:replace="fragments/navbar :: top"/>
    <div class="container">
        <div class="row">
            <div layout:fragment="header" id="header" class="col-xs-12 col-md-12"/>
        </div>
        <div class="row">
            <div layout:fragment="left" class="col-xs-12 col-md-2"/>
            <div layout:fragment="content" class="col-xs-12 col-md-8"/>
            <div layout:fragment="right" class="col-xs-12 col-md-2"/>
        </div>
        <div class="row">
            <div layout:fragment="bottom" id="bottom" class="col-xs-12 col-md-12"/>
        </div>
        <div class="row" style="text-align: center">
            <hr/>
            &copy; 2017 daicham.com
        </div>
    </div>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>