<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <nav th:fragment="top" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button sec:authorize="isAuthenticated()"
                        type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> <span th:text="${owner.asTextWithFamily()}">Hogehoge</span>
                </button>
                <a class="navbar-brand" th:href="@{/}">CatLog</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-link navbar-btn" th:value="Logout"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav th:fragment="bottom" class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <form th:action="@{/logs/new}" method="post">
                        <input type="hidden" name="type" value="PEE"/>
                        <input type="submit" class="btn btn-default btn-block navbar-btn" value="+Pee"/>
                    </form>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <form th:action="@{/logs/new}" method="post">
                        <input type="hidden" name="type" value="POO"/>
                        <input type="submit" class="btn btn-default btn-block navbar-btn" value="+Poo"/>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>