<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <title>Edit log</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="page-header">
            <h1>Edit</h1>
        </div>
    </div>
    <div layout:fragment="left">
        <a th:href="@{/logs}">&lt; Back</a>
    </div>
    <div layout:fragment="content">
        <form action="#" method="post" class="form-horizontal"
              th:action="@{/logs/{id}(id=${log.id.value})}" th:object="${log}">
            <div th:replace="fragments/log/form :: type"/>
            <div th:replace="fragments/log/form :: occurred_at"/>
            <div th:replace="fragments/log/form :: memo"/>
            <div th:replace="fragments/log/form :: submit('Submit')"/>
        </form>
        <hr/>
        <form action="#" method="post" class="form-horizontal"
              th:action="@{/logs/{id}/delete(id=${log.id.value})}">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>