<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <title>Logs</title>
</head>
<body>
    <div layout:fragment="header">
        <h1>Logs</h1>
    </div>
    <div layout:fragment="left">
        <a th:href="@{/logs/new}">+</a>
    </div>
    <div layout:fragment="content">
        <div class="media-list">
            <div class="media" th:each="log : ${logs}">
               <div class="media-left">
                   <a th:href="@{'/logs/'+${log.id.value}}">
                       <img class="media-object" th:src="@{/images/poo_64.png}" alt="image"/>
                   </a>
               </div>
               <div class="media-body">
                   <h4 class="media-heading" th:text="${log.occurredAt.asText()}"></h4>
                   <div th:text="${log.memo.asText()}"></div>
               </div>
            </div>
        </div>
    </div>
</body>
</html>