<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <title>Logs</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="page-header">
            <h1>Log <small>ななちゃん</small></h1>
        </div>
    </div>

    <div layout:fragment="content">
        <div class="media-list">
            <div class="media" th:each="log : ${logs}">
               <a th:href="@{'/logs/'+${log.id.value}}">
               <div class="media-left">
                       <img class="media-object" th:src="@{${log.type.asImagePath()}}" th:alt="${log.type}"/>
               </div>
               <div class="media-body">
                   <h4 class="media-heading" th:text="${log.occurredAt.asText()}"></h4>
                   <div th:text="${log.memo.asText()}"></div>
               </div>
               </a>
            </div>
        </div>
    </div>

    <div layout:fragment="bottom">
        <div th:replace="fragments/navbar :: bottom"/>
    </div>
</body>
</html>