<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <title>New Log</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="page-header">
            <h1>New</h1>
        </div>
    </div>
    <div layout:fragment="left">
        <a th:href="@{/logs}">&lt; Back</a>
    </div>
    <div layout:fragment="content">
        <form action="#" method="post" class="form-horizontal"
              th:action="@{/logs/new}" th:object="${log}">
            <div th:replace="fragments/log/form :: type"/>
            <div th:replace="fragments/log/form :: occurred_at"/>
            <div th:replace="fragments/log/form :: memo"/>
            <div th:replace="fragments/log/form :: submit('Submit')"/>
        </form>
    </div>
</body>
</html>
